In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 6.1 文件格式数据的读写

In [2]:
!type examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
df = pd.read_csv('examples/ex1.csv')

In [4]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!type examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [7]:
pd.read_csv('examples/ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [8]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [9]:
pd.read_csv?

In [10]:
pd.read_csv('examples/ex2.csv', names = ['c', 'd', 'e', 'f', 'message'])

   c   d   e   f message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
pd.read_csv('examples/ex2.csv', names = ['c', 'd', 'e', 'f', 'message'], index_col='message')

         c   d   e   f
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [12]:
!type examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [13]:
parsed = pd.read_csv('examples/csv_mindex.csv', index_col=['key1', 'key2'])

In [14]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [15]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [16]:
result = pd.read_csv('examples/ex3.txt', sep = '\s+')

In [17]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [18]:
!type examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [19]:
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [20]:
!type examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [21]:
result = pd.read_csv('examples/ex5.csv')

In [22]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [23]:
result = pd.read_csv('examples/ex5.csv', na_values='null')

In [24]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [25]:
result = pd.read_csv('examples/ex5.csv', 
                    na_values={
                        'something': ['one', 'three', 'null'],
                        'message': ['world']
                    })

In [26]:
result

  something  a   b     c   d message
0       NaN  1   2   3.0   4     NaN
1       two  5   6   NaN   8     NaN
2       NaN  9  10  11.0  12     foo

## 6.1.1 分块读入文本文件

In [27]:
pd.options.display.max_rows = 10

In [28]:
result = pd.read_csv('examples/ex6.csv')

In [29]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [30]:
pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [31]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

In [32]:
chunker.get_chunk(2)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B

In [33]:
tot = pd.Series([])

<ipython-input-33-0dfcb0830956>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tot = pd.Series([])

In [34]:
tot.add?

In [35]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

<ipython-input-35-cbca59bbb936>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tot = pd.Series([])

In [36]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

## 6.1.2 将数据写入文本格式

In [37]:
!type examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [76]:
data = pd.read_csv('examples/ex5.csv')

In [77]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [78]:
data.to_csv('examples/out2.csv')

In [79]:
!type examples\out2.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [83]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [81]:
import sys

In [82]:
data.to_csv(sys.stdout, sep = '|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [85]:
data.to_csv(sys.stdout, sep = '|', na_rep='zzz')

|something|a|b|c|d|message
0|one|1|2|3.0|4|zzz
1|two|5|6|zzz|8|world
2|three|9|10|11.0|12|foo

In [46]:
data.to_csv(sys.stdout, index = False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [47]:
data.to_csv(sys.stdout, index = False, columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [48]:
dates = pd.date_range?

In [ ]:
dates = pd.date_range

In [49]:
dates = pd.date_range('3/14/2021', periods=7)

In [50]:
dates

DatetimeIndex(['2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17',
               '2021-03-18', '2021-03-19', '2021-03-20'],
              dtype='datetime64[ns]', freq='D')

In [51]:
ts = pd.Series(np.arange(7), index=dates)

In [52]:
ts

2021-03-14    0
2021-03-15    1
2021-03-16    2
2021-03-17    3
2021-03-18    4
2021-03-19    5
2021-03-20    6
Freq: D, dtype: int32

In [53]:
ts.to_csv('examples/tseries2.csv')

In [54]:
!type examples\tseries2.csv

,0
2021-03-14,0
2021-03-15,1
2021-03-16,2
2021-03-17,3
2021-03-18,4
2021-03-19,5
2021-03-20,6

## 6.1.3 使用分隔格式

In [55]:
!type examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [56]:
data = pd.read_csv('examples/ex7.csv', header = None)

In [57]:
data

   0  1  2
0  a  b  c
1  1  2  3
2  1  2  3

In [58]:
pd.read_table('examples/ex7.csv', sep = ',')

   a  b  c
0  1  2  3
1  1  2  3

In [59]:
import csv

In [60]:
f = open('examples/ex7.csv')

In [61]:
f

In [62]:
reader = csv.reader(f)

In [63]:
reader

In [64]:
for line in reader :
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [65]:
with open('examples/ex7.csv')as f:
    lines = list(csv.reader(f))

In [66]:
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [67]:
header, value = lines[0], lines[1:]

In [68]:
value

[['1', '2', '3'], ['1', '2', '3']]

In [69]:
zip(header,zip(*value))

In [70]:
header

['a', 'b', 'c']

In [71]:
data_dict = {h:v for h,v in zip(header,  zip(*value))}

In [72]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [73]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ','
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [74]:
reader = csv.reader(f, dialect = my_dialect)

TypeError: argument 1 must be an iterator

In [ ]:
reader

In [ ]:
reader = csv.reader(f, delimiter = '|')

In [ ]:
reader

In [ ]:
with open('my_data.csv', 'w') as f:
    writer = csv.writer(f, dialect = my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))

In [ ]:
!type my_data.csv

## 6.1.4 JSON 数据

In [ ]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [ ]:
import json

In [ ]:
result = json.loads(obj)

In [ ]:
result

In [ ]:
asjson = json.dumps(result)

In [ ]:
asjson

In [ ]:
siblings = pd.DataFrame(result['siblings'])

In [ ]:
siblings

In [ ]:
! type examples\example.json

In [ ]:
data = pd.read_json('examples/example.json')

In [ ]:
data

In [ ]:
data.to_json()

In [ ]:
data.to_json(orient='records')

## 6.1.5 XML和HTNL: 网络抓取

In [ ]:
table = pd.read_html('examples/fdic_failed_bank_list.html')

In [ ]:
table

In [ ]:
failures = table[0]

In [ ]:
failures

In [ ]:
close_timestamps = pd.to_datetime(failures['Closing Date'])

In [ ]:
close_timestamps.dt.year.value_counts()

### 6.1.5.1 使用lxml.objectify 解析XML

In [ ]:
# 略过

# 6.2 二进制文件

## 6.2.1 使用HDF5格式

In [ ]:
# 略

## 6.2.2 读取Microsoft Excel 文件

In [ ]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')

In [ ]:
frame

In [ ]:
frame.columns

In [ ]:
writer = pd.ExcelWriter('examples/ex2.xlsx')

In [ ]:
frame.to_excel(writer, 'Sheet1')

In [ ]:
writer.save()

# 6.3 与Web API 交互

In [ ]:
# 略

# 6.4 与数据库交互