In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt

# 12.1 分类数据

## 12.1.1 背景和目标

In [7]:
values = pd.Series(['apple', 'orange', 'apple', 'apple'] * 2)

values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [8]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [9]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [16]:
values = pd.Series([0,1,0,0]*2)
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [17]:
dim = pd.Series(['apple', 'orange'])
dim

0     apple
1    orange
dtype: object

In [18]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

## 12.1.2 pandas 中的 Categorical 类型

In [2]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2

In [3]:
N = len(fruits)

In [4]:
N

8

In [5]:
df = pd.DataFrame({
    'fruit': fruits,
    'basket_id': np.arange(N),
    'count': np.random.randint(3,15,size=N),
    'weight': np.random.uniform(0,4, size=N),
}, columns=['basket_id', 'fruit', 'count', 'weight'])

In [6]:
df

   basket_id   fruit  count    weight
0          0   apple      5  3.858058
1          1  orange      8  2.612708
2          2   apple      4  2.995627
3          3   apple      7  2.614279
4          4   apple     12  2.990859
5          5  orange      8  3.845227
6          6   apple      5  0.033553
7          7   apple      4  0.425778

In [7]:
df.fruit

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: object

In [8]:
fruit_cat = df.fruit.astype('category')

In [9]:
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [11]:
c = fruit_cat.values

In [12]:
type(c)

pandas.core.arrays.categorical.Categorical

In [13]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [14]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [15]:
df.fruit = df.fruit.astype('category')

In [16]:
df

   basket_id   fruit  count    weight
0          0   apple      5  3.858058
1          1  orange      8  2.612708
2          2   apple      4  2.995627
3          3   apple      7  2.614279
4          4   apple     12  2.990859
5          5  orange      8  3.845227
6          6   apple      5  0.033553
7          7   apple      4  0.425778

In [17]:
df.fruit

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [19]:
my_category = pd.Categorical(['foo','bar','baz','foo','bar'])

In [20]:
my_category

['foo', 'bar', 'baz', 'foo', 'bar']
Categories (3, object): ['bar', 'baz', 'foo']

In [21]:
categories = ['foo','bar','baz']

In [22]:
codes = [0,1,2,0,0,1]

In [23]:
my_cats_2 = pd.Categorical.from_codes?

In [24]:
my_cats_2 = pd.Categorical.from_codes(codes, categories)

In [25]:
my_cats_2

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo', 'bar', 'baz']

In [26]:
ordered_cat = pd.Categorical.from_codes(codes, categories, ordered=True)

In [27]:
ordered_cat

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

In [28]:
my_cats_2.as_ordered()

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

In [29]:
my_cats_2

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo', 'bar', 'baz']

## 12.1.3 使用 Categorical 对象进行计算

In [32]:
np.random.seed(12345)

In [33]:
draws = np.random.randn(1000)

In [34]:
draws[:5]

array([-0.20470766,  0.47894334, -0.51943872, -0.5557303 ,  1.96578057])

In [41]:
bins = pd.qcut(draws, 4)

In [42]:
bins

[(-0.684, -0.0101], (-0.0101, 0.63], (-0.684, -0.0101], (-0.684, -0.0101], (0.63, 3.928], ..., (-0.0101, 0.63], (-0.684, -0.0101], (-2.9499999999999997, -0.684], (-0.0101, 0.63], (0.63, 3.928]]
Length: 1000
Categories (4, interval[float64]): [(-2.9499999999999997, -0.684] < (-0.684, -0.0101] < (-0.0101, 0.63] < (0.63, 3.928]]

In [43]:
bins.value_counts()

(-2.9499999999999997, -0.684]    250
(-0.684, -0.0101]                250
(-0.0101, 0.63]                  250
(0.63, 3.928]                    250
dtype: int64

In [44]:
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

In [46]:
bins.value_counts()

Q1    250
Q2    250
Q3    250
Q4    250
dtype: int64

In [47]:
bins

['Q2', 'Q3', 'Q2', 'Q2', 'Q4', ..., 'Q3', 'Q2', 'Q1', 'Q3', 'Q4']
Length: 1000
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

In [48]:
bins.categories

Index(['Q1', 'Q2', 'Q3', 'Q4'], dtype='object')

In [50]:
bins = pd.Series(bins, name='quartile')

In [55]:
result = pd.Series(draws).groupby(bins).agg(['count','min','max']).reset_index()

In [56]:
result

  quartile  count       min       max
0       Q1    250 -2.949343 -0.685484
1       Q2    250 -0.683066 -0.010115
2       Q3    250 -0.010032  0.628894
3       Q4    250  0.634238  3.927528

### 12.1.3.1 使用分类获得更高性能

In [57]:
N = 10000000

In [58]:
draws = pd.Series(np.random.randn(N))

In [59]:
labels = pd.Series(['foo','bar','baz','qux'] * (N//4))

In [60]:
categories = labels.astype('category')

In [61]:
labels.memory_usage()

80000128

In [62]:
categories.memory_usage()

10000320

## 12.1.4 分类之后的方法

In [63]:
s = pd.Series(['a','b','c','d'] * 2)

In [64]:
s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: object

In [65]:
cat_s = s.astype('category')

In [66]:
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

In [68]:
cat_s.cat.codes

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

In [69]:
cat_s.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [70]:
actual_categories = ['a','b','c','d','e']

In [71]:
cat_s2 = cat_s.cat.set_categories(actual_categories)

In [72]:
cat_s2

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): ['a', 'b', 'c', 'd', 'e']

In [73]:
cat_s.value_counts()

d    2
c    2
b    2
a    2
dtype: int64

In [74]:
cat_s2.value_counts()

d    2
c    2
b    2
a    2
e    0
dtype: int64

In [75]:
cat_s3 = cat_s[cat_s.isin(['a','b'])]

In [76]:
cat_s3

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

In [78]:
cat_s3.cat.remove_unused_categories()

0    a
1    b
4    a
5    b
dtype: category
Categories (2, object): ['a', 'b']

### 12.1.4.1 创建用于建模的虚拟变量

In [79]:
cat_s = pd.Series(['a','b','c','d']*2, dtype='category')

In [80]:
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

In [81]:
pd.get_dummies(cat_s)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1

# 12.2 高阶 GroupBy 应用

## 12.2.1 分组转换和“展开” GroupBy

In [5]:
df = pd.DataFrame({
    'key':['a','b','c']*4,
    'value': np.arange(12.)
})

df

   key  value
0    a    0.0
1    b    1.0
2    c    2.0
3    a    3.0
4    b    4.0
5    c    5.0
6    a    6.0
7    b    7.0
8    c    8.0
9    a    9.0
10   b   10.0
11   c   11.0

In [23]:
g = df.groupby('key').value
g.mean()

k = df.groupby('key')
k.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

     value
key
a      4.5
b      5.5
c      6.5

In [69]:
g.transform(lambda x: x.mean())  # 传入的 g 要是已经分好组的 
                                 # 传入的 g 是什么形状的，再把运算结构填回去

g.transform('mean')   # 传入内建的聚合函数是一样的

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [70]:
g.transform(lambda x: x*2)

g.transform(lambda x: x.rank(ascending=False))

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
11    22.0
Name: value, dtype: float64

0     4.0
1     4.0
2     4.0
3     3.0
4     3.0
5     3.0
6     2.0
7     2.0
8     2.0
9     1.0
10    1.0
11    1.0
Name: value, dtype: float64

In [74]:
def normalize(x):
    return (x - x.mean()) / x.std()

g.transform(normalize) # 可以用自己定义的函数

g.apply(normalize) # 和 apply 应用的对比

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [76]:
normalized = (df['value'] - g.transform('mean')) / g.transform('std')

normalized   # 与自定义函数相比，内建的聚合函数会更快

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
12         NaN
13         NaN
14         NaN
Name: value, dtype: float64

## 12.2.2 分组的时间重新采样

In [80]:
N = 15

times = pd.date_range('2017-5-20 00:00', freq='1min', periods=N)

df = pd.DataFrame({
    'time': times,
    'value': np.arange(N)
})
df

                  time  value
0  2017-05-20 00:00:00      0
1  2017-05-20 00:01:00      1
2  2017-05-20 00:02:00      2
3  2017-05-20 00:03:00      3
4  2017-05-20 00:04:00      4
5  2017-05-20 00:05:00      5
6  2017-05-20 00:06:00      6
7  2017-05-20 00:07:00      7
8  2017-05-20 00:08:00      8
9  2017-05-20 00:09:00      9
10 2017-05-20 00:10:00     10
11 2017-05-20 00:11:00     11
12 2017-05-20 00:12:00     12
13 2017-05-20 00:13:00     13
14 2017-05-20 00:14:00     14

In [47]:
df.set_index('time').resample('5min').count()

                     value
time
2017-05-20 00:00:00      5
2017-05-20 00:05:00      5
2017-05-20 00:10:00      5

++++++

In [81]:
df2 = pd.DataFrame({
    'time': times.repeat(3),
    'key': np.tile(['a','b','c'], N),
    'value': np.arange(N * 3.)
})

df2.head()

                 time key  value
0 2017-05-20 00:00:00   a    0.0
1 2017-05-20 00:00:00   b    1.0
2 2017-05-20 00:00:00   c    2.0
3 2017-05-20 00:01:00   a    3.0
4 2017-05-20 00:01:00   b    4.0

In [83]:
time_key = pd.Grouper(freq = '5min')

time_key

TimeGrouper(freq=<5 * Minutes>, axis=0, sort=True, closed='left', label='left', how='mean', convention='e', origin='start_day')

In [86]:
resampled = df2.set_index('time').groupby(['key', time_key]).sum()  # 使用新的对象 time_key 对时间进行分组

resampled

                         value
key time
a   2017-05-20 00:00:00   30.0
    2017-05-20 00:05:00  105.0
    2017-05-20 00:10:00  180.0
b   2017-05-20 00:00:00   35.0
    2017-05-20 00:05:00  110.0
    2017-05-20 00:10:00  185.0
c   2017-05-20 00:00:00   40.0
    2017-05-20 00:05:00  115.0
    2017-05-20 00:10:00  190.0

# 12.3 方法链技术

In [65]:
# 略